/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height: 100%;
	  background-color: #929695;
    overflow: visible;
}
#header {
    padding:10px;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
    padding:10px;
	  margin:0 auto;
	  width:85%;	
}
#footer {
    color:white;
    text-align:center;
    width:100%;
    height:30px;
    position:absolute;
    bottom:0;
    left:0;
    position:fixed;
}

.user-wrapper {
	  position: relative;
	  float: left;
	  width: 33.3%;
	  text-align: center;
}
.info-wrapper {
    float: left;
    width: 50%;
}
.user-properties {
	  list-style: none;
	  margin: 0 auto;
	  width: 100%;
    text-align: right;
}
.user-values{
    list-style: none;
    margin: 0 auto;
    padding:2px;
    width: 100%;
    text-align: left;
}
.property-name {
	  font-weight: bold;
}
ul.a {
    list-style-position:inside;
}
tr:hover.b{
    cursor: pointer;
    background-color: #B492B8;
}
table.students{
    cursor: pointer;
}
table.class-card {
    width:50%;
    float: right;
    margin-top: 62px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #AF75AE
}
table.class-performance {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #F3E2BB
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
    text-align: center;
}
.center {
    float: right;
    width: 500px;
}
.center-table {
    float: left;
    width: 100%;
}
.contact-image{
    width: 178px; 
    height: 213px;
}
.image-logo{
    width: 50px; 
    height: 50px;
}
.student-image{
    width: 232px; 
    height: 283px
}
