{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load staticfiles %}

{% block nav_class_feedbacks %}active{% endblock %}


{% block content %}  
    
  <div class="content">
    <h3>{{ title }}</h3> 
    <hr>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method='post'>
      <h5>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send"/></h5>
    </form>
  </div>

{% endblock %}
