<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>SDAcademy: Contacts</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">  
  <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
  <link href="{% static 'js/bootstrap.js'%}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
    
    <div class="header">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <img src="{% static 'images/blender.png'%}" alt="Python Logo" class="image-logo">
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'index'%}">Main</a></li>
              <li class="active"><a>Contacts</a></li>
              <li><a href="{% url 'student_list'%}">Students</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div><!-- #header -->
    
    <div class="content">
      
      <div class="user-wrapper">
	      <img src="{% static 'images/minions1.jpg'%}" alt="Minion 1" class="img-circle contact-image">
	      <h2>Founder</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Stuart the Minion</span>
            </li>
            <li>
              <span>bee_do_bee_do_bee@supervillains.com</span>
            </li>
            <li>
              <span>777-777-777</span>
            </li>
            <li>
              <span>papples_gelato</span>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="user-wrapper">
        <img src="{% static 'images/minions4.jpg'%}" alt="Minion 2" class="img-circle contact-image">
        <h2>Director</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Jerry the Minion</span>
            </li>
            <li>
              <span>Kan_pai@supervillains.com</span>
            </li>
            <li>
              <span>666-666-666</span>
            </li>
            <li>
              <span>dul_Muak_Muak68</span>
            </li>
          </ul>
       </div>
      </div>

      <div class="user-wrapper">
        <img src="{% static 'images/minions3.jpg'%}" alt="Minion 3" class="img-circle contact-image">
        <h2>Manager</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Kevin the Minion</span>
            </li>
            <li>
              <span>Bananonina@supervillains.com</span>
            </li>
            <li>
              <span>555-555-555</span>
            </li>
            <li>
              <span>bello_baboi_49</span>
            </li>
          </ul>
       </div>
      </div>

    </div><!-- #content -->
    
    <div class="footer">
      All rights reserved &reg;
    </div><!-- #footer -->
    
  </div><!-- #wrapper -->
  
</body>

</html>
