{% extends "base.html" %}


{% block title %}SDAcademy: Contacts{% endblock %}


{% load staticfiles %}


{% block nav_class_contacts %}active{% endblock %}


{% block content %}  
    <div class="content">
      
      <div class="user-wrapper">
	      <img src="{% static 'images/minions1.jpg' %}" alt="Minion 1" class="img-circle contact-image">
	      <h2>Founder</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Stuart the Minion</span>
            </li>
            <li>
              <span>bee_do_bee_do_bee@supervillains.com</span>
            </li>
            <li>
              <span>777-777-777</span>
            </li>
            <li>
              <span>papples_gelato</span>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="user-wrapper">
        <img src="{% static 'images/minions4.jpg' %}" alt="Minion 2" class="img-circle contact-image">
        <h2>Director</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Jerry the Minion</span>
            </li>
            <li>
              <span>Kan_pai@supervillains.com</span>
            </li>
            <li>
              <span>666-666-666</span>
            </li>
            <li>
              <span>dul_Muak_Muak68</span>
            </li>
          </ul>
       </div>
      </div>

      <div class="user-wrapper">
        <img src="{% static 'images/minions3.jpg' %}" alt="Minion 3" class="img-circle contact-image">
        <h2>Manager</h2>
        <div class="info-wrapper">
          <ul class="user-properties">
            <li>
              <span class="property-name">Name:</span>
            </li>
            <li>
              <span class="property-name">Email:</span>
            </li>
            <li>
              <span class="property-name">Phone:</span>
            </li>
            <li>
              <span class="property-name">Skype:</span>
            </li>
          </ul>
        </div>
        <div class="info-wrapper">
          <ul class="user-values">
            <li>
              <span>Kevin the Minion</span>
            </li>
            <li>
              <span>Bananonina@supervillains.com</span>
            </li>
            <li>
              <span>555-555-555</span>
            </li>
            <li>
              <span>bello_baboi_49</span>
            </li>
          </ul>
       </div>
      </div>

    </div><!-- #content -->
{% endblock %}
