{% extends "base.html" %}


{% block title %}SDAcademy: Contacts{% endblock %}


{% load staticfiles %}


{% block nav_class_contacts %}active{% endblock %}


{% block content %}

  <div class="content">
    <div class="user-wrapper">
      <img src="{% static 'images/minions1.jpg' %}" alt="Minion 1" class="img-circle contact-image">
      <h2>Founder</h2>
      <div class="info-wrapper">
        <ul class="user-properties">
          <li>
            <span class="property-name">Name:</span>
          </li>
          <li>
            <span class="property-name">Email:</span>
          </li>
          <li>
            <span class="property-name">Phone:</span>
          </li>
          <li>
            <span class="property-name">Skype:</span>
          </li>
        </ul>
      </div>
      <div class="info-wrapper">
        <ul class="user-values">
          <li>
            <span class="property-name">Stuart the Minion</span>
          </li>
          <li>
            <span class="property-name">bee_do_bee_do_bee@supervillains.com</span>
          </li>
          <li>
            <span class="property-name">777-777-777</span>
          </li>
          <li>
            <span class="property-name">papples_gelato</span>
          </li>
        </ul>
      </div>
    </div>
      
    <div class="user-wrapper">
      <img src="{% static 'images/minions4.jpg' %}" alt="Minion 2" class="img-circle contact-image">
      <h2>Director</h2>
      <div class="info-wrapper">
        <ul class="user-properties">
          <li>
            <span class="property-name">Name:</span>
          </li>
          <li>
            <span class="property-name">Email:</span>
          </li>
          <li>
            <span class="property-name">Phone:</span>
          </li>
          <li>
            <span class="property-name">Skype:</span>
          </li>
        </ul>
      </div>
      <div class="info-wrapper">
        <ul class="user-values">
          <li>
            <span class="property-name">Jerry the Minion</span>
          </li>
          <li>
            <span class="property-name">Kan_pai@supervillains.com</span>
          </li>
          <li>
            <span class="property-name">666-666-666</span>
          </li>
          <li>
            <span class="property-name">dul_Muak_Muak68</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="user-wrapper">
      <img src="{% static 'images/minions3.jpg' %}" alt="Minion 3" class="img-circle contact-image">
      <h2>Manager</h2>
      <div class="info-wrapper">
        <ul class="user-properties">
          <li>
            <span class="property-name">Name:</span>
          </li>
          <li>
            <span class="property-name">Email:</span>
          </li>
          <li>
            <span class="property-name">Phone:</span>
          </li>
          <li>
            <span class="property-name">Skype:</span>
          </li>
        </ul>
      </div>
      <div class="info-wrapper">
        <ul class="user-values">
          <li>
            <span class="property-name">Kevin the Minion</span>
          </li>
          <li>
            <span class="property-name">Bananonina@supervillains.com</span>
          </li>
          <li>
            <span class="property-name">555-555-555</span>
          </li>
          <li>
            <span class="property-name">bello_baboi_49</span>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- #content -->

{% endblock %}
