{% extends "base.html" %}


{% block title %}SDAcademy: Main{% endblock %}


{% load staticfiles %}


{% block nav_class_main %}active{% endblock %}


{% block content %}


{% include "include/oon_include.html" %}

  <div class="content">
    <h3>What course would you like to attend?</h3>
    <a type="button" class="btn btn-default" href="{% url 'courses:course-add' %}">Add a Course</a>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
	</div>
      {% endfor %}
    {% endif %}
    <hr>
    <table class="table table-bordered">
      <tr>
        <th>Course</th>    
        <th>Description</th>
      </tr>
      {% for item in courses_all %}
        <tr> 
          <td><a class="trselect b" href="{% url 'courses:detail' item.id %}">{{ item.name|upper }}</a></td>
          <td>{{ item.short_description|title }}</td>
          <td>
            <a type="button" class="btn btn-default" href="{% url 'courses:course-edit' item.pk %}">Update Course Info</a>
          </td>
          <td>
            <a type="button" class="btn btn-default" href="{% url 'courses:course-remove' item.pk %}">Delete Course</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div><!-- #content -->

{% endblock %}
