{% extends "base.html" %}


{% block title %}SDAcademy: Main{% endblock %}


{% load staticfiles %}


{% block nav_class_main %}active{% endblock %}


{% block content %}


{% include "include/oon_include.html" %}
    <div class="content">

        <h3>What course would you like to attend?</h3>
        <table class="table table-bordered">
          <tr>
              <th>Course</th>    
              <th>Description</th>
          </tr>
          {% for item in courses_all %}
          <tr> 
              <td><a class="trselect b" href="{% url 'courses:detail' item.id %}">{{ item.name|upper }}</a></td>
              <td>{{ item.short_description|title }}</td>
           </tr>
          {% endfor %}
        </table>
    </div><!-- #content -->
{% endblock %}
