{% extends "base.html" %}

{% block title %}{{course.name}}{% endblock %}

{% load staticfiles %}

{% block content %}

{% include "include/oon_include.html" %}      
    
    <div class="content">
      <h2>Course: {{course.name}}</h3>
      <h4>{{course.description|truncatechars:32}}</h4>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Course professor</h3>
        </div>
        <div class="panel-body">
          <h4><a class="trselect b" href="{% url 'coaches:detail' course.coach.id %}">{{course.coach.user.first_name}} {{course.coach.user.last_name}}</a></h4>
          <h4>{{course.coach.description}}</h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Course assistant</h3>
        </div>
        <div class="panel-body">
          <h4><a class="trselect b" href="{% url 'coaches:detail' course.assistant.id %}">{{course.assistant.user.first_name}} {{course.assistant.user.last_name}}</a></h4>
          <h4>{{course.assistant.description}}</h4>
        </div>
      </div>
        <h3>{{course.name}} Course Plan</h3>
        <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lesson</th>    
            <th>Description</th>
        </tr>
        {% for item in lessons_all %}
        <tr> 
            <td>{{ item.order }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
      </table>
    </div><!-- #content -->

{% endblock %}

