{% extends "base.html" %}


{% block title %}Edit Course{% endblock %}


{% load staticfiles %}


{% block nav_class_students %}{% endblock %}


{% block content %}

  <div class="content">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <h3>Update Course Details</h3> 
    <hr>
    <form method='post'>
      <h5>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Course Details"/>
      </h5>
    </form>
  </div>
    
{% endblock %}
