{% extends "base.html" %}

{% block title %}{{coach.user.first_name}} {{coach.user.last_name}}{% endblock %}

{% load staticfiles %}

{% block nav_class_contacts %}active{% endblock %}

{% block content %}
    
    <div class="content">
      <h3>{{coach.user.first_name}} {{coach.user.last_name}}</h3>
      <hr>
        <table class="table table-bordered">
        <tr>
            <td>Date of birth</td>
            <td>{{coach.date_of_birth|date:'d F, Y'}}</td>    
        </tr>
        <tr>
            <td>Address</td>
            <td>{{coach.address}}</td>    
        </tr>
        <tr>
            <td>Email</td>
            <td>{{coach.user.email}}</td>    
        </tr>
        <tr>
            <td>Skype</td>
            <td>{{coach.skype}}</td>   
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{coach.phone}}</td>   
        </tr>
        <tr>
            <td>Trainer Courses</td>
            <td>
              {% for i in coach.coach_courses.all %}
                <a class="trselect b" href="{% url 'courses:detail' i.id %}">{{i}}</a> students <a class="trselect b" href="{% url 'students:list_view' %}?course_id={{i.id}}"><span class="glyphicon glyphicon-user"></span><br></a>
              {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Assistant Courses</td>
            <td>
              {% for i in coach.assistant_courses.all %}
                <a class="trselect b" href="{% url 'courses:detail' i.id %}">{{i}}</a> students <a class="trselect b" href="{% url 'students:list_view' %}?course_id={{i.id}}"><span class="glyphicon glyphicon-user"></span><br></a>
              {% endfor %}
            </td>
        </tr>

      </table>
    </div><!-- #content -->

{% endblock %}
